main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --primary: #8c54ff;
  --secondary: #31343D;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #799FBA;
  --darker: #1F3B60;
  --alpha: rgba(255, 255, 255, .7);
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1.1rem;
  margin: 20px 0;
  line-height: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Aladin', cursive;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 3rem;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  color: var(--secondary);
  text-decoration: none;
  opacity: .5;
}

a:hover {
  opacity: 1;
  transition: all .2s ease-in-out;
}


header a {
  color: var(--light);
}

li {
  list-style: none;
}

header {
  background: var(--dark);
  position: relative;
  overflow: hidden;
  z-index: 2;
}

header h1 {
  position: relative;
  z-index: 2;
  margin: 25px 0;
}

header img {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  filter: sepia(1) opacity(60%);
  opacity: 0.5;
}

nav {
  position: relative;
  font-size: 2.5rem;
  margin: 30px 20px;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin: 0 50px;
}

.navActive {
  color: var(--primary);
  cursor: default;
  text-shadow: 3px 3px 15px rgba(255, 255, 255, .5);
}

.card img {
  height: 150px;
}

.about-section {
  padding: 60px 20px;
  text-align: center;
  flex: 1;
}


.about-section img {
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
}

.about-section p {
  font-size: 16px;
  line-height: 1.8;
}

ul.skills {
  line-height: 2rem;
}

ul.skills li {
  list-style-type: circle;
}

footer {
  font-size: 48px;
}

footer a {
  color: var(--darker);
  opacity: .5;
  margin: 10px 20px;
  transition: all .3s ease-in-out;
}

footer a:hover {
  opacity: 1;
}

/* 
@media only screen and (max-width: 1300px) {
  nav {
    position: static;
    display: block;
    z-index: 100;
    margin: 0 10px;
    font-size: 2rem;
  }

  header h1 {
    display: block;
    height: 30px;
  }
}

@media only screen and (max-width: 500px) {
  nav {
    position: static;
    display: block;
    z-index: 100;
    margin: 0 10px;
    font-size: 1.3rem;
  }


  header h1 {
    display: block;
    margin: 5px 10px;
    height: 15px;
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
  }
} */